<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instadev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/estilo.css" />
    <link rel="stylesheet" href="~/css/Perfil.css" />
    <link rel="stylesheet" href="~/css/Header.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/Feed.css" />
    <link rel="stylesheet" href="~/css/Post.css" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    @if (@ViewData["Title"].ToString() == "Cadastrar" || @ViewData["Title"].ToString() == "Login")
    {
    }
    else
    {
    <header>
       <div class="container container_header">
            <img class="logo_header" src="~/Images/Logo.png" alt="Logo">
            <form method="POST" action="">
                <label for="pesquisa"></label>
                <input class="pesquisar_header" type="text" name="pesquisa" placeholder='Pesquisar'>
            </form>
            <nav class="nav">
                <a class="icones_nav"  asp-area="" asp-controller="Perfil" asp-action="Index"><i class="fas fa-house-user"></i></a>
                <a class="icones_nav" href="#"><i class="fas fa-paper-plane"></i></a>
                <a class="icones_nav" href="#"><i class="fas fa-compass"></i></a>
                <a class="icones_nav" href="#"><i class="far fa-heart"></i></a>
                <a href="#"><img class="imagem_perfil" src="@ViewBag.UsuarioLogado.ImagemPerfil" alt="Perfil"></a>
            </nav>
        </div>
    </header>
    }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
 @if (@ViewData["Title"].ToString() == "Cadastrar" || @ViewData["Title"].ToString() == "Login")
    {
    }
    else
    {
    <footer>
            &copy; 2021 - Instadev - <a asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy</a>
    </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
